.c-canvas {
  flex: 1 1 auto;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 0;
  background: var(--color-black);
}

.c-canvas__border {
  z-index: 1;
  position: absolute;
  inset: 0;
  box-shadow: var(--border-raised);
  pointer-events: none;
}

.c-canvas__aspect {
  position: relative;
  aspect-ratio: 40 / 25;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.c-canvas__canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  &:focus {
    outline: none;
    box-shadow: var(--border-focused);
  }
}