.c-loading-overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background: var(--background-metal-hex);
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.c-loading-overlay__dg {
  width: 44px;
  height: 52px;
  position: relative;
  margin: 4px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  &:before {
    background: url("./images/dg-ll.png");
    background-size: cover;
    opacity: 1;
    animation: doomGuy 2s infinite;
  }

  &:after {
    background: url("./images/dg-lr.png");
    background-size: cover;
    opacity: 1;
    animation: doomGuy reverse 2s infinite;
  }

  &.c-loading-overlay__dg--smile {
    &:before {
      background: url("./images/dg-smile.png");
      animation: none;
      opacity: 1;
    }
    &:after {
      background: none;
      animation: none;
      opacity: 0;
    }
  }
}

.c-loading-overlay__header {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
  line-height: var(--line-height-large);
  font-family: var(--font-family);
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(0deg, var(--color-white), var(--color-gray-medium));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(var(--text-shadow));
}

@keyframes doomGuy {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

.c-loading-overlay__progress {
  color: var(--color-white);
  text-shadow: var(--text-shadow);
  font-family: var(--font-family);
  text-transform: uppercase;
  text-align: center;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-medium);
  line-height: var(--line-height-medium);
}