.c-app {
  /* flex: 1 1 auto; */
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  min-height: 0;
  background: #000;

  &::selection {
    background: rgba(0,0,0,0);
  }
}

.c-app__aspect {
  position: relative;
  aspect-ratio: 1 / 1;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.c-app__canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}