#root {
  /* Color */
  --text-color: #222222;
  --surface: #c0c0c0;
  --button-highlight: #ffffff;
  --button-face: #dfdfdf;
  --button-shadow: #808080;
  --window-frame: #0a0a0a;
  --dialog-blue: #000080;
  --dialog-blue-light: #1084d0;
  --dialog-gray: #808080;
  --dialog-gray-light: #b5b5b5;
  --link-blue: #0000ff;

  /* Spacing */
  --element-spacing: 8px;
  --grouped-button-spacing: 4px;
  --grouped-element-spacing: 6px;
  --radio-width: 12px;
  --checkbox-width: 13px;
  --radio-label-spacing: 6px;
  --range-track-height: 4px;
  --range-spacing: 10px;

  /* Some detailed computations for radio buttons and checkboxes */
  --radio-total-width-precalc: var(--radio-width) + var(--radio-label-spacing);
  --radio-total-width: calc(var(--radio-total-width-precalc));
  --radio-left: calc(-1 * var(--radio-total-width-precalc));
  --radio-dot-width: 4px;
  --radio-dot-top: calc(var(--radio-width) / 2 - var(--radio-dot-width) / 2);
  --radio-dot-left: calc(
    -1 * (var(--radio-total-width-precalc)) + var(--radio-width) / 2 - var(
        --radio-dot-width
      ) / 2
  );

  --checkbox-total-width-precalc: var(--checkbox-width) +
    var(--radio-label-spacing);
  --checkbox-total-width: calc(var(--checkbox-total-width-precalc));
  --checkbox-left: calc(-1 * var(--checkbox-total-width-precalc));
  --checkmark-width: 7px;
  --checkmark-left: 3px;

  /* Borders */
  --border-width: 1px;
  --border-raised-outer: inset -1px -1px var(--window-frame),
    inset 1px 1px var(--button-highlight);
  --border-raised-inner: inset -2px -2px var(--button-shadow),
    inset 2px 2px var(--button-face);
  --border-sunken-outer: inset -1px -1px var(--button-highlight),
    inset 1px 1px var(--window-frame);
  --border-sunken-inner: inset -2px -2px var(--button-face),
    inset 2px 2px var(--button-shadow);
  --default-button-border-raised-outer: inset -2px -2px var(--window-frame), inset 1px 1px var(--window-frame);
  --default-button-border-raised-inner: inset 2px 2px var(--button-highlight), inset -3px -3px var(--button-shadow), inset 3px 3px var(--button-face);
  --default-button-border-sunken-outer: inset 2px 2px var(--window-frame), inset -1px -1px var(--window-frame);
  --default-button-border-sunken-inner: inset -2px -2px var(--button-highlight), inset 3px 3px var(--button-shadow), inset -3px -3px var(--button-face);


  /* Window borders flip button-face and button-highlight */
  --border-window-outer: inset -1px -1px var(--window-frame),
    inset 1px 1px var(--button-face);
  --border-window-inner: inset -2px -2px var(--button-shadow),
    inset 2px 2px var(--button-highlight);

  /* Field borders (checkbox, input, etc) flip window-frame and button-shadow */
  --border-field: inset -1px -1px var(--button-highlight),
    inset 1px 1px var(--button-shadow), inset -2px -2px var(--button-face),
    inset 2px 2px var(--window-frame);
  --border-status-field: inset -1px -1px var(--button-face), inset 1px 1px var(--button-shadow);

  /* Tabs */
  --border-tab: inset -1px 0 var(--window-frame),
    inset 1px 1px var(--button-face),
    inset -2px 0 var(--button-shadow),
    inset 2px 2px var(--button-highlight)
}

body {
  font-family: "Pixelated MS Sans Serif", Arial;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
}

button,
label,
input,
legend,
textarea,
select,
option,
table,
ul.tree-view,
.window,
.title-bar,
li[role=tab] {
  font-family: "Pixelated MS Sans Serif", Arial;
  -webkit-font-smoothing: none;
  font-size: 16px;
  line-height: 24px;
}

pre {
  background: black;
  color: white;
  font-family: "Perfect DOS VGA 437 Win", monospace;

  * {
    font-family: "Perfect DOS VGA 437 Win", monospace;
  }
}

.title-bar-left {
  display: flex;
  align-items: center;
  gap: 4px;
  overflow: hidden;
}

.title-bar {
  max-height: 32px;
  padding: 4px;
}

.title-bar-icon {
  width: 24px;
  height: 24px;
}

.title-bar-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 0;
}

.title-bar-controls button {
  display: block;
  min-height: 24px;
  min-width: 24px;
  padding: 0;
}

.title-bar-controls button[aria-label=Maximize], .title-bar-controls button[aria-label].maximize {
  background-size: 16px 16px;
  background-position: top 4px left 4px;
}

.title-bar-controls button[aria-label=Restore], .title-bar-controls button[aria-label].restore {
  background-size: 16px 16px;
  background-position: top 4px left 4px;
}

.title-bar-controls button[aria-label=Minimize], .title-bar-controls button[aria-label].minimize {
  background-size: 12px 4px;
  background-position: bottom 4px left 6px;
}

.title-bar-controls button[aria-label=Close], .title-bar-controls button[aria-label].close {
  background-size: 16px 14px;
  background-position: top 5px left 4px;
  margin-left: 2px;
}

button,
input[type="submit"],
input[type="reset"] {
  min-height: 32px;
  padding: 0 24px;
}

button.active {
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
  text-shadow: 1px 1px var(--text-color);
}

.window {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.window-body {
  margin: 0;
  padding: 4px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.status-bar {
  min-height: 24px;
}

.status-bar-field--resize {
  background-image: url("./assets/images/ui/resize.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  /* background-size: 16px 16px; */
}

::-webkit-scrollbar {
  width: 24px;
}

::-webkit-scrollbar-thumb {
  cursor: url("./assets/images/cursors/pointer.svg") 0 0, pointer;
}

::-webkit-scrollbar:horizontal {
  height: 24px;
}

::-webkit-scrollbar-button:vertical:start {
  height: 24px;
  background-image: url("./assets/images/ui/button-up.svg");
}

::-webkit-scrollbar-button:vertical:end {
  height: 24px;
  background-image: url("./assets/images/ui/button-down.svg");
}

::-webkit-scrollbar-button:horizontal:start {
  width: 24px;
  background-image: url("./assets/images/ui/button-left.svg");
}

::-webkit-scrollbar-button:horizontal:end {
  width: 24px;
  background-image: url("./assets/images/ui/button-right.svg");
}

::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  background-repeat: no-repeat;
  background-size: 24px 24px;
  cursor: url("./assets/images/cursors/pointer.svg") 0 0, pointer;
}