#root {
  --desktop-bg: #008080;
  --font-family-mono: "Perfect DOS VGA 437 Win", monospace;
  --font-family: "Pixelated MS Sans Serif", Arial;
}

.c-app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 16px;
  gap: 4px;
}