#root {
  --desktop-bg: #008080;
  --font-family-mono: "Perfect DOS VGA 437 Win", monospace;
  --font-family: "Pixelated MS Sans Serif", Arial;
}

.c-app {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.c-app__desktop {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 8px;
  gap: 4px;
}