#root {
  --color-green: #008080;
  --font-family-mono: "Perfect DOS VGA 437 Win", monospace;
  --font-family: "Pixelated MS Sans Serif", Arial;
}

.c-app {
  width: 100vw;
  height: 100vh;
  background: var(--color-green);
}