.c-bio-window {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.c-bio-window__text-area {
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 8px;
  resize: none;
  box-shadow: none;
}