.c-bio-window {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.c-bio-window__text-area {
  width: 100%;
  height: 100%;
  min-width: 200px;
  min-height: 200px;
  overflow: scroll;
}