.c-clippy {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  z-index: 99;
  bottom: 0;
  right: 0;
  gap: 8px;
}

.c-clippy__img {
  width: 181px;
}

.c-clippy__tips {
  display: flex;
  position: relative;
  width: 264px;
  background: var(--color-yellow);
  border: 1px solid black;

  &::after,
  &:before {
    content: '';
    position: absolute;
    top: 100%;
    right: 15px;
    border: 11px solid transparent;
    border-top-color: black;
  }

  &:after {
    right: 16px;
    border: 10px solid transparent;
    border-top-color: var(--color-yellow);
  }
}

.c-clippy__tips-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px 0 12px 12px;
}

.c-clippy__tips-body {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}

.c-clippy__tips-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-clippy__button {
  background: none;
  box-shadow: 0 0 0 1px inset black;
  text-shadow: none;
  color: black;

  &:disabled {
    text-shadow: none !important;
    opacity: 0.15;
  }

  &:active {
    text-shadow: none !important;
  }

  &.c-clippy__button--close {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    box-shadow: none;
    width: 32px;
    height: 32px;
    padding: 0;

    img {
      width: 12px;
      height: 12px;
    }
  }
}