.c-command-window {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.c-command-window__pre {
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 8px;
  white-space: pre-wrap;
  box-shadow: none;
}