.c-crash {
  position: absolute;
  inset: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--dialog-blue);

  pre {
    background: var(--dialog-blue);
    box-shadow: none;
    font-size: 16px;
    line-height: 24px;
    white-space: pre-wrap;
  }
}