.c-desktop {
  position: relative;
  display: flex;
  flex: 1;
  overflow: hidden;
}

.c-desktop__inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}

.c-desktop__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.c-desktop__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: rgba(255,255,255,0.75);
  min-width: 75px;
  min-height: 75px;
  box-shadow: none;
  color: #000;

  &:focus,
  &:active {
    box-shadow: none !important;
    text-shadow: none;
    outline: none;
  }

  &:focus {
    background: color-mix(in srgb, var(--link-blue) 75%, transparent);
    color: #fff;
  }
}