.c-doom-window {
  position: relative;
  width: 100%;
  height: 100%;
  background: black;
}

.c-doom-window__iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  padding: 2px;
}