.c-dos-boot {
  cursor: none;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: black;

  pre {
    box-shadow: none;
    font-size: 16px;
    line-height: 24px;
  }
}