/*-------------------------------------------*\
    Reset
\*-------------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

select {
  appearance: none;
  -webkit-appearance: none;
}

/*-------------------------------------------*\
    Fonts
\*-------------------------------------------*/

@font-face {
  font-family: "Perfect DOS VGA 437 Win";
  src: url("./assets/fonts/PerfectDOSVGA437Win.woff2") format("woff2"),
      url("./assets/fonts/PerfectDOSVGA437Win.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*-------------------------------------------*\
    Cursors
\*-------------------------------------------*/

/* Normal cursor */
html, body {
  cursor: url("./assets/images/cursors/normal.png") 0 0, auto;
}

/* Pointer (links, clickable items) */
a, button, [role="button"], input[type="submit"], input[type="button"], .clickable {
  cursor: url("./assets/images/cursors/pointer.png") 0 0, pointer;
}

/* Not allowed */
[disabled], .not-allowed, .disabled {
  cursor: url("./assets/images/cursors/not-allowed.png") 0 0, not-allowed !important;
}

/* Wait (loading state) */
html.loading, html.loading * {
  cursor: url("./assets/images/cursors/wait.png") 0 0, wait !important;
}