/*-------------------------------------------*\
    Fonts
\*-------------------------------------------*/

@font-face {
  font-family: "Perfect DOS VGA 437 Win";
  src: url("./assets/fonts/PerfectDOSVGA437Win.woff2") format("woff2"),
      url("./assets/fonts/PerfectDOSVGA437Win.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*-------------------------------------------*\
    Cursors
\*-------------------------------------------*/

/* Normal cursor */
html, body, div {
  cursor: url("./assets/images/cursors/normal.png") 0 0, auto;
}

/* Pointer (links, clickable items) */
a, button, [role="button"], input[type="submit"], input[type="button"], .clickable {
  cursor: url("./assets/images/cursors/pointer.png") 0 0, pointer;
}

/* Not allowed */
[disabled], .not-allowed, .disabled {
  cursor: url("./assets/images/cursors/not-allowed.png") 9 9, not-allowed !important;
}

/* Wait (loading state) */
html.loading, html.loading * {
  cursor: url("./assets/images/cursors/wait.png") 0 0, wait !important;
}

/* Resize */
.cursor--resize-br {
  cursor: url("./assets/images/cursors/resize-br.png") 6 6, se-resize !important;
}

/* Resize */
.cursor--drag {
  cursor: url("./assets/images/cursors/drag.png") 10 10, move !important;
}