.c-links-window {
  width: 100%;
  height: 100%;
}

.c-links-window__wrapper {
  width: 100%;
  height: 100%;
}

.c-links-window__links {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px;
}

.c-links-window__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: rgba(255,255,255,0.75);
  min-width: 75px;
  min-height: 75px;
  box-shadow: none;
  color: #000;
  text-decoration: none;

  &:focus,
  &:active {
    box-shadow: none !important;
    text-shadow: none;
    outline: none;
  }

  &:focus {
    background: color-mix(in srgb, var(--dialog-blue) 75%, transparent);
    color: #fff;
  }
}