.c-loading-modal {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  padding: 2px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  
  img {
    width: 32px;
    height: 32px;
  }
}