.c-popup-window {
  position: relative;
  width: 100%;
  height: 100%;
}

.c-popup-window__ad {
  position: relative;
  display: block;
  aspect-ratio: 1 / 1.414;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  img {
    display: block;
    position: absolute;
    inset: 0;
    object-fit: contain;
    width: 100%;
    height: 100%;

    &:nth-of-type(2) {
      animation: popupFlash 2s infinite;
    }
  }
}

@keyframes popupFlash {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}