.c-start-bar {
  width: 100%;
  background: var(--surface);
  display: flex;
  padding: 4px 2px 2px 2px;
  gap: 4px;
  box-shadow: 0 1px 0 0 var(--button-face) inset, 0 2px 0 0 var(--button-highlight) inset;
}

.c-start-bar__divider {
  width: 2px;
  height: 100%;
  box-shadow: 1px 0 0 0 var(--button-shadow) inset, 2px 0 0 0 var(--button-highlight) inset;
}

.c-start-bar__btn {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 0 5px;
  min-width: 0;
  flex-basis: 150px;

  img {
    width: 16px;
    height: 16px;
  }

  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 23px;
  }

  &.c-start-bar__btn--start {
    font-weight: bold;
    flex-basis: auto;

    img {
      width: 20px;
      height: 20px;
    }
  }

  &:focus {
    outline: none;
  }

  &:active,
  &.active {
    font-weight: bold;
    outline: none;
    background-image: 
      linear-gradient(45deg, var(--button-highlight) 25%, transparent 25%, transparent 75%, var(--button-highlight) 75%, var(--button-highlight)),
      linear-gradient(45deg, var(--button-highlight) 25%, var(--surface) 25%, var(--surface) 75%, var(--button-highlight) 75%, var(--button-highlight));
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px;
  }
}

.c-start-bar__windows {
  flex: 1;
  display: flex;
  gap: 3px;
  min-width: 0;
}

.c-start-bar__status {
  height: 100%;

  .status-bar {
    height: 100%;
  }

  .status-bar-field {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
  }
}

@media (max-width: 480px) {
  .c-start-bar__btn {
    &.c-start-bar__btn--window {
      flex-basis: auto;
      padding: 0 4px;
      min-width: 0;
    }
  }

  .c-start-bar__btn--window *:not(img) {
    display: none;
  }
}