.c-thronglet-window {
  position: relative;
  width: 100%;
  height: 100%;
  background: black;
  box-shadow: var(--border-field);
  padding: 2px;
}

.c-thronglet-window__iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  padding: 2px;
}